.top>h2, .top>h3 {
  display: inline-block;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 0.2rem solid var(--secondary_color);
}

.top>*, .top>div.info>* {
  margin: 0 0 0 1rem;
}

.top>*:first-child, .top>div.info>* {
  margin: 0;
}

.info {
  display: flex;
  align-items: baseline;
}

.top>.info>h3 {
  margin-left: 1rem;
}

@media only screen and (max-width: 850px) and (orientation: portrait) {
  .info {
    flex-direction: column;
  }

  .top>.info>h3 {
    margin-left: 0rem;
    margin-top: 0.2rem;
  }

  .stop>.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    flex-basis: 15%;
  }
}

.console {
  background-color: var(--dark_color);
  height: calc(50vh + 2.6rem);
  border-radius: 0 0 1rem 1rem;
}

.log {
  height: 50vh;
  border-bottom: 0.2rem solid var(--secondary_color);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--box_color) var(--dark_color);
  color: white;
  padding-left: 0.8rem;
  padding-right: 0.2rem;
}

.log::-webkit-scrollbar {
  width: 0.8rem;
}

.log::-webkit-scrollbar-track {
  background: var(--dark_color);
}
.log::-webkit-scrollbar-thumb {
  background-color: var(--box_color) ;
  border-radius: 1rem;
  border: 0.2rem solid var(--dark_color);
}

p#log {
  font-size: 0.7rem;
  word-break: break-all;
  font-family: monospace;
  color: #e6e6e6;
}

.purple {
  color: #b47cec;
}

.green {
  color: #85f77c;
}

.yellow {
  color: #ffff4b;
}

.orange {
  color: #ff9233;;
}

.red {
  color: #ff4545;
}

.blue {
  color: #2b9cff;
}

.command_input {
  height: 2.2rem;
}

input#command {
  color: white;
  font-size: 0.8rem;
  background: none;
  outline: none;
  height: 100%;
  margin: 0;
  border: none;
  padding-left: 1rem;
}

@media only screen and (min-device-width: 480px)
                   and (max-device-width: 640px)
                   and (orientation: landscape) {

}
