:root {
  /* Colors */
  --bg_color: #E0E0E0;
  --primary_color: #1A1A1A;
  --secondary_color: #868686;
  --box_color: #F0F0F0;
  --dark_color:#4E4E4E;
  --red: #D64431;
  --yellow: #D6C331;
  --green: #67BF57;
  --blue: #4D9ED9;
  --dark_red: #6A190E;
  --dark_yellow: #A89A2D;
  --dark_green: #3B7630;
  --dark_blue: #2762BF;
  --active_blue: #214989;
  /* Fonts */
  --font_size: 20px;
  --font_family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --bg_color: #525252;
    --primary_color: #FFFFFF;
    --secondary_color: #9D9D9D;
    --box_color: #716E6E;
    --dark_color: #171717;
  }
}

html, body {
  margin: none;
  padding: none;
  color: var(--primary_color);
  background-color: var(--bg_color);
  font-size: var(--font_size);
  font-family: var(--font_family);
  overflow-x: hidden;
}

html, body, main {
  height: 100%;
}

div.box {
  background-color: var(--box_color);
  border-radius: 1rem;
}

#panel {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 1rem;
  padding: 4rem;
  padding-top: 16vh;
  transition: all 0.8s ease;
}

@media only screen and (max-width: 850px) and (orientation: portrait) {
  #panel {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .control {
    margin: 0.2rem;
  }
}

h3 {
  font-weight: normal;
}
