<!DOCTYPE html>
<html>

<head>

  <head>
    <title>DRNC Panel - Setup</title>

    <%- include('../partials/head'); %>

    <link rel="stylesheet" href="assets/styles/login/login.css">
    <link rel="stylesheet" href="assets/styles/setup/setup.css">

  </head>

<body>
  <main>
    <div class="center">
      <h1>Setup</h1>
      <div class="box login">
        <form action="./setup" method="post">
          <input type="text" name="username" placeholder="Choose a username...">
          <h4> 2FA QR Code </h4>
          <img src="<%= qr_code %>" alt="QR Code 2fa" class="qr_code">
          <input type="submit" value="Finish">
        </form>
      </div>
      <br>
      <a class="help" href="https://github.com/Darnoc-Realms">Lost? Click here for information</a>
    </div>
  </main>
  <script> </script> <!-- to stop css animation flash on page load -->
</body>

</html>
